<div class="container feedback-page">
  <h3 class="text-center row">Kategorie {{categoryId}}</h3>

  <div class="row questions-wrapper">
    {{#each category.questions}}
    <div class="col-xs-12 question-row" row-id="{{@index}}">
      <div class="feedback-question col-xs-12">
        <label>Frage: {{inc @index}}</label>
        <div>{{question}}</div>
      </div>
      <div class="col-xs-12">
        <textarea cols="50" rows="5" placeholder="Beschreiben Sie Ihr Problem"></textarea>
      </div>
      <div class="text-center bottom col-xs-12">
        <button class="col-xs-3 col-md-offset-0 btn answerButton" answer="yes" question="{{@index}}">ich stimme zu</button>
        <button class="col-xs-2 col-md-offset-2 btn answerButton" answer="skip" question="{{@index}}">Nicht relevant</button>
        <button class="col-xs-3 pull-right btn answerButton" answer="no" question="{{@index}}">Ich stimme nicht zu</button>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="row text-center">
    <button class="btn btn-big preview">Vorschau</button>
  </div>
</div>