<div class="container feedback-page">
  <h3 class="text-center row">Kategorie {{categoryId}}</h3>

  {{#each category.questions}}
  <div class="row col-xs-12">
    <div class="row  feedback-question col-xs-12">
     <label>Frage: {{inc @index}}</label>
      <div>{{question}}</div>
    </div>
    <div class="row col-xs-12">
      <textarea cols="50" rows="5" placeholder="Beschreiben Sie Ihr Problem"></textarea>
    </div>
    <div class="row text-center bottom col-xs-12">
      <button class="col-xs-3 col-md-offset-0 btn" question="{{@index}}">ich stimme zu</button>
      <button class="col-xs-2 col-md-offset-2 btn" question="{{@index}}">Nicht relevant</button>
      <button class="col-xs-3 pull-right btn" question="{{@index}}">Ich stimme nicht zu</button>
    </div>
  </div>
  {{/each}}

</div>