<div class="container feedback-page form-horizontal">
    <h3 class="text-center row">Kategorie {{categoryId}}</h3>

    <form class="answers-display">
        <div class="row feedback-type text-center">
            <span class="col-md-6">
                <input type="radio" name="categoryType" id="anonymous" value="0"><label for="anonymous">Feedback Anonym abgeben</label>
            </span>
            <span class="col-md-6">
                <input type="radio" name="categoryType" id="not-anonymous" value="1"><label for="not-anonymous">Feedback mit freitext abgeben</label>
            </span>
            <div class="error-box col-md-4 col-md-offset-4">Please choose feedback type</div>
        </div>
    </form>

    <div class="row questions-wrapper">
        {{#each category.questions}}
        <div class="col-xs-12 question-row" row-id="{{@index}}">
            <div class="feedback-question col-xs-12">
                <label>Frage: {{inc @index}}</label>
                <div>{{question}}</div>
            </div>
            <div class="col-xs-12">
                <textarea cols="50" rows="5" placeholder="Beschreiben Sie Ihr Problem" question="{{@index}}"></textarea>
            </div>
            <div class="text-center bottom col-xs-12">
                <button class="col-xs-3 col-xs-offset-0 btn  btn-default answerButton" answer="yes" question="{{@index}}">ich stimme
                    zu
                </button>
                <button class="col-xs-2 col-xs-offset-2 btn btn-default answerButton" answer="skip" question="{{@index}}">Nicht
                    relevant
                </button>
                <button class="col-xs-3 pull-right btn btn-default answerButton" answer="no" question="{{@index}}">Ich stimme nicht
                    zu
                </button>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="row text-center">
        <button class="btn btn-default btn-lg preview">Vorschau</button>
    </div>
</div>