<div class="container feedback-page" style="text-align : center;">

    <p class="text-center row">
        Willkommen bei dem Feedbacktool für [Ihr Unternehmen].
        Hier können Sie zu den Kategorien unten Feedback abgeben, welches anonym und zeitlich abgekoppelt an Ihre Fühungskraft versendet wird
    </p>

    <div class="text-center row middle">
        <button class="btn btn-default give-feedback">Jetzt Feedback geben</button>
    </div>

    <div class="bottom row">
        <div class="pull-right pull-down col-xs-4 box-1">
            <div class="account">
                Account: {{name}} {{lastName}}
            </div>
            <div class="buttons">
                <button class="col-xs-12 col-md-auto logout btn btn-default">Das bin nicht ich!</button>
                <button class="col-xs-12 col-md-auto edit-account btn btn-default">Account anpassen</button>
            </div>
        </div>
    </div>
</div>
