<div class="feelingContainer">
  <di>Wie fühlen Sie sich gerade?</di>
  <div class="range">
    <div class="feelingType">
      <input type="range" name="feelingType" id="feelingType" value="50" min="0" max="100" step="10" />
      <span>Ruhig</span>
      <span>Aufgebracht</span>
      <!--<output name="x" for="feelingType">50</output>-->
    </div>
    <div class="feelingMoment">
      <input type="range" name="feelingMoment" id="feelingMoment" value="50" min="0" max="100" step="10"/>
      <span>Nur jetzt</span>
      <span>Dauerhaft</span>
      <output name="x" for="feelingMoment">50</output>
    </div>
    <!--<input type="submit" value="Weiter" />-->
  </div>

</div>