<div class="container feedback-page">
  <h3 class="text-center">Wozu möchten Sie Feedback abgeben?</h3>

  <div class="row">
    <div class="row feedback-type text-center">
      <span class="col-md-6">
        <input type="radio" name="type" id="anonymous" value="0"><label for="anonymous">Feedback Anonym abgeben</label>
      </span>
      <span class="col-md-6">
        <input type="radio" name="type" id="not-anonymous" value="1"><label for="not-anonymous">Feedback mit freitext abgeben</label>
      </span>
      <div class="error-box col-md-4 col-md-offset-4">Please choose feedback type</div>
    </div>

    <div class="row text-center bottom">
      {{#each categories}}
      <div class="row middle box-1"><button class="category col-xs-4 col-xs-offset-4 btn" value="{{inc @index}}">{{name}}</button></div>
      {{/each}}
    </div>
  </div>

</div>