<div class="container feedback-page" style="text-align : center;">
    <h3>Dies wird Ihre Führungskraft sehen:</h3>
    <p class="text-left row" style="text-align : left;">
        Sehr geehrte {{lead}},<br>
        <br>
        eines Ihrer Teammitglieder hat ein Feedback eingreicht.<br>
        Ihr Teammitglied möchte sich zu dem Bereich {{title}} äußern. Insgesamt betrachtet das Teammitglied die {{title}} {{overallState}}.<br>
        An Ihrer Führung empfindet das Teammitglied die:
        {{#each positive}}
        {{tag}},
        {{/each}}
        als positiv. Bitte behalten Sie diese Elemente in der Führung bei.<br>
        Um eine Verbesserung für das Teammitglied zu erreichen, bitten wir Sie jedoch folgende Punkte zu überdenken: <br>
        {{#each negative}}
        {{tag}} <br>
        {{/each}}
        <br>
        Um in diesen Bereichen Fortschritte zu erzielen, können Sie aus unserem Maßnahmenkatalog Beispiele entnehmen.<br>
        Alternativ können Sie unter den Schaltflächen den Kontakt zur Personalabteilung herstellen oder ein Klärungsgespräch vorschlagen<br>
    </p>
</div>
