<div class="container feedback-page" style="text-align : center;">
  <h3>Dies wird Ihre Führungskraft sehen:</h3>
  <p class="text-left row">
    Sehr geehrte[r] Herr/Frau {{lastName}},<br>
    ein Teammitglied hat ein neues Feedback eingereicht.<br>
    Ihr Teammitgliedmöchte sich zum Thema [Überschrift Kategorie] äußern.
  </p>

  <div class="text-center bottom col-xs-12">
    <button class="col-xs-3 col-md-offset-0 btn actionButton" name="action" value="send">Feedback absenden</button>
    <button class="col-xs-3 pull-right btn actionButton" name=action" value="edit">Feedback editieren</button>
  </div>
</div>
