<div class="login-page">
    <div class="row">
        <div class="col-xs-offset-5">
            <form class="form-horizontal">
                <p class="col-xs-12">
                    <label for="username">Username</label>
                    <br>
                    <input id="username" type="text" class="username col-xs-6" name="username">
                </p>
                <p class="col-xs-12">
                    <label for="password">Password</label>
                    <br>
                    <input id="password" type="password" class="password col-xs-6" name="password">
                </p>

                <p class="col-xs-12">
                    <input type="submit" class="col-xs-6 btn btn-default login" value="Login">
                </p>

            </form>
        </div>
    </div>
</div>
