.feedback-page {
    .middle {
        button {
            padding: 10px;
        }
    }

    .bottom {
        .box-1 {
            div,button {
                margin-bottom: 2px;
            }
        }
        button {
            padding: 1px;
        }
    }
}
