.feedback-page {
    .questions-wrapper,.feedback-text {
        padding-bottom: 20px;
    }

    .middle {
        button {
            padding: 10px;
        }
    }

    textarea {
        width: 100%;
        max-height: 203px;
    }

    .bottom {
        .box-1 {
            div,button {
                margin-bottom: 2px;
            }
        }
        button {
            padding: 1px;
        }
    }
    .error-box {
        display: none;
        color: red;
        text-align: center;
    }

    .error{
        border: 1px solid red;
        background: #FB9;
        border-radius: 4px;
    }

    .question-row {
        margin-bottom: 10px;
        box-shadow: 0px 1px 5px 0px #aaa;
        padding: 10px 0px;
        border-radius: 5px;
    }

    .feedback-type {
        margin-bottom: 5px;
        span {
            label {
                padding-left: 5px;
            }
            input[type="radio"] {
                position: relative;
                top: 2px;
            }
        }
    }
}
